<a href="https://colab.research.google.com/github/guico3lho/NLP_UnB_2022_1/blob/main/Pandafy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
!pip install krippendorff
from google.colab import drive
import json
import os
import pandas as pd
import regex as re
import krippendorff

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: krippendorff in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from krippendorff) (1.21.6)

In [58]:
drive.mount('/content/gdrive')
!unzip /content/gdrive/MyDrive/Programming/DataScience/Pandafy/tagtog_Pandafy_three.zip

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/bin/bash: /content: Is a directory

In [54]:

data = json.load(open('/content/Pandafy_three/ann.json/members/guico3lho/pool/a323dN7fUgvEgfh0ZDjrot9YmUo0-Pandafy.csv_60.ann.json'))

# who: data["metas"]["m_1"]["confidence"]["who"]
# value: data["metas"]["m_1"]["value"][0]
data

{'anncomplete': False,
 'annotatable': {'parts': ['s1s1h1', 's1s1v1', 's1s2h1', 's1s2v1']},
 'entities': [],
 'metas': {'m_1': {'confidence': {'prob': 1,
    'state': 'pre-added',
    'who': ['user:guico3lho']},
   'value': '4'}},
 'relations': [],
 'sources': []}

In [ ]:
df = pd.DataFrame(columns = ['Documento','may', 'turugo'])

In [63]:
# lista turugo
labels_turugo = []


dir = "/content/Pandafy_three/ann.json/members/guico3lho/pool"
for filename in os.listdir(dir):
  print(filename)
  file = open(dir+"/"+filename)
  data = json.load(file)
  labels_turugo.append(data["metas"]["m_1"]["value"][0])

labels_turugo

a43CsbqhpjwjGPYe2wjNEDfGylrC-Pandafy.csv_91.ann.json
acM_ICpwsFLc6tzhzUmMwTu44jYC-Pandafy.csv_74.ann.json
amSIQth7GOFqdPEbldcQ.Py8cB1e-Pandafy.csv_73.ann.json
auB8LjG6gXGoAOc.Q.ow608Vcvea-Pandafy.csv_92.ann.json
ax4ufQw0hMxoJDTlYjOH4g6zM6EC-Pandafy.csv_98.ann.json
ahLhXkX4M0e4Ho01lB9Oc5uivAOe-Pandafy.csv_82.ann.json
awA.VU_GoG35eQijOL3GndEPCBA0-Pandafy.csv_86.ann.json
aDhSNkEXKAHjklqzmjNL711EtAXO-Pandafy.csv_90.ann.json
adnHnwrQ0yIq.1Grx0uaQTHzYWFW-Pandafy.csv_85.ann.json
ajgQWk2Sx5FY.a6TS1YttxUfG9Gu-Pandafy.csv_80.ann.json
ac3q4cQdcbIJc8WqTOjdQXVYyG_W-Pandafy.csv_79.ann.json
a38NuAicrJp2ngKM1JFQFdQLNWpC-Pandafy.csv_81.ann.json
auxH4k42Q6HVNILGHy_lrS9x6lXa-Pandafy.csv_84.ann.json
aaoeg_LCpDL8YSF16CIsNfbOe9LS-Pandafy.csv_99.ann.json
azKBhoBgoL6MYvq2jF0qNMGYaHgK-Pandafy.csv_78.ann.json
angxDmgv6p_amWdMhZXFsKojVNoW-Pandafy.csv_94.ann.json
az1jpt69yfbaefz5B3UYobU15DNC-Pandafy.csv_88.ann.json
axAP3ViYTCRb_AkXKU8uDP4AplKK-Pandafy.csv_77.ann.json
ah8jUebh50OsDVYoqlLDhhb_GVYG-Pandafy.csv_93.ann.json
af._77U4AgeAsgorTeNwEIUhRqte-Pandafy.csv_75.ann.json
aLNPLYONKWMzHLHn08b6Onf3huQ4-Pandafy.csv_96.ann.json
a323dN7fUgvEgfh0ZDjrot9YmUo0-Pandafy.csv_60.ann.json
aCQQdvdB0bWXRF7cLsNvy1poNTVG-Pandafy.csv_97.ann.json
aUroUZ6lUKzTpwNOdBYoUdYfNnSS-Pandafy.csv_72.ann.json
ad4wh7ZRJZlvFulgzM3xsdQFJGBm-Pandafy.csv_89.ann.json
aldV6BhvnURx.dx091qBoeq7L3n8-Pandafy.csv_100.ann.json
af9CdlyPejrBlHysdfIBbl7UUBci-Pandafy.csv_95.ann.json
an.aWbHmsl.8tP7S0I2DnwrjJuka-Pandafy.csv_70.ann.json
ajqa56XZmcs0kW7sRYd6hsW6347y-Pandafy.csv_71.ann.json
aIB_YxQgTvmPUwlLFJWwSXo4N73e-Pandafy.csv_68.ann.json
aHBfeBaCgtvq6u.SWq61yydVt658-Pandafy.csv_87.ann.json
atfP1W3gwLamzP_cU54yFbZyFX9u-Pandafy.csv_83.ann.json
aQbgcjoWZGzt19XveoeYVQFIX.mq-Pandafy.csv_69.ann.json
aYLsHfGdfXI_WkokOA9jeW36w2fW-Pandafy.csv_76.ann.json

In [ ]:
# lista mayara
labels_mayara = []

list_index = []


dir = "/content/Pandafy_three/ann.json/members/mayarachew/pool"
for filename in os.listdir(dir):
  file = open(dir+"/"+filename)
  data = json.load(file)
  labels_mayara.append(data["metas"]["m_1"]["value"][0])
  list_index.append(re.search(r'_(\d*)\.', filename).group(1))

In [73]:
df = pd.DataFrame(columns=['id','may','turugo'])

In [78]:
df['may'] = labels_mayara
df['turugo'] = labels_turugo
df['id'] = list_index

ValueError: ignored

In [77]:
df# lista mayara

     id may turugo
0   NaN   2    NaN
1   NaN   3    NaN
2   NaN   4    NaN
3   NaN   1    NaN
4   NaN   3    NaN
5   NaN   2    NaN
6   NaN   2    NaN
7   NaN   4    NaN
8   NaN   3    NaN
9   NaN   2    NaN
10  NaN   4    NaN
11  NaN   2    NaN
12  NaN   3    NaN
13  NaN   3    NaN
14  NaN   3    NaN
15  NaN   2    NaN
16  NaN   2    NaN
17  NaN   3    NaN
18  NaN   4    NaN
19  NaN   5    NaN
20  NaN   2    NaN
21  NaN   5    NaN
22  NaN   3    NaN
23  NaN   3    NaN
24  NaN   3    NaN
25  NaN   2    NaN
26  NaN   4    NaN
27  NaN   5    NaN
28  NaN   2    NaN
29  NaN   3    NaN
30  NaN   1    NaN

In [56]:
# armazenando labels da May
labels_turugo = []



# armazenando labels do turugo
labels_may = []